.popup__closes_figure {
    width: 80vw;
    display: flex;
    justify-content: flex-end;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: -11px;
}
@media screen and (max-width: 899px) {
    .popup__closes_figure {
        margin-bottom: 13px;
        margin-right: -10px;
    }
}