.profile__edit-button-conteiner {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
@media screen and (max-width: 899px) {
    .profile__edit-button-conteiner {
        width: 18px;
        height: 18px;
    }
}
