.popup__form-container-figure {
    /* width: 430px; */
    position: absolute;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    top: 195px;
    left: 50%;
    
    top: 50%;
    transform: translate(-50%, -50%);
    }
@media screen and (max-width: 899px) {
    .popup__form-container-figure {
        position: fixed;
        margin: 0;
        /* width: 282px; */
    }
}