.popup__close_image {
    width: 57px;
    height: 57px;
    display: block;
    opacity: 1;
    background: none;
    /* margin-bottom: -17px; */
      
}
.popup__close_image:hover {
        opacity: 0.6;
}
@media screen and (max-width: 899px) {
    .popup__close_image {
        max-height: 37px;
        max-width: 37px;
     /* padding-left: 245px; */
        /* margin-bottom: 4px;
        margin-right: 0; */
    }
}