.element__group {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Laikdisabled.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    margin-right: 30px;
    border: none;
    background-color: #ffffff;
    opacity: 1;
    outline: none;
    cursor: pointer;
}
.element__group:hover {
    opacity: 0.5;
}
.element__group:active {
    background-image: url(../../../images/Laikactive.svg);
    /* background-color: #000000; */
    opacity: 1;
}
@media screen and (max-width: 899px) {
    .element__group {
        background-size: 19px 19px;
        width: 19px;
    }
}
