.popup__change-job {
    width: 358px;
    height: 14px;
    border: none;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 30px;
    outline: none;
}
@media screen and (max-width: 899px) {
    .popup__change-job {
        width: 238px;
        height: 22px;
    }
}
