.popup__close {
    max-width: 40px;
    max-height: 40px;
    display: block;
    padding-left: 430px;
    opacity: 1;
    background: none;
}
.popup__close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 899px) {
    .popup__close {
        max-height: 26px;
        max-width: 26px;
        padding-left: 245px;
        margin-bottom: 20px;
        margin-right: 0;
    }
}
