.popup__close {
    width: 57px;
    height: 57px;
    display: block;
    /* padding-left: 430px; */
    opacity: 1;
    background: none;
    margin-bottom: -17px; 
    cursor: pointer;    
}
.popup__close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 899px) {
    .popup__close {
        max-height: 37px;
        max-width: 37px;
        /* padding-left: 245px; */
        margin-bottom: 4px;
        margin-right: 0;
    }
}
