.popup__close_figure {
    width: 57px;
    height: 57px;
    display: block;
    opacity: 1;
    background: none;
}
.popup__close_figure:hover {
        opacity: 0.6;
}
@media screen and (max-width: 899px) {
    .popup__close_figure {
        max-height: 37px;
        max-width: 37px;
    }
}