.popup__closes_picture {
    background: none;
    border: none;
    width: 18px;
    padding-left: 417px;
    outline: none;
}
@media screen and (max-width: 899px) {
    .popup__closes_picture {
        padding-left: 245px;        
    }
}