.element__group {
    width: 22px;
    height: 19px;
    background: url(../../../images/Laikdisabled.svg) center no-repeat;;
    background-size: 100%;
    margin-right: 30px;
    border: none;
    opacity: 1;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s linear;
}
.element__group:hover {
    opacity: 0.5;
}
.element__group_active {
    background-image: url(../../../images/Laikactive.svg);
    /* background-color: #000000; */
    background-size: 22px 19px;
    opacity: 1;
}
@media screen and (max-width: 899px) {
    .element__group {
        background-size: 19px 19px;
        width: 19px;
        height: 19px;
    }
}
