.figure__closes {
    width: 107%;
    display: flex;
    justify-content: flex-end;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: -11px;
}
@media screen and (max-width: 899px) {
    .figure__closes {
        margin-bottom: 13px;
        margin-right: -10px;
    }
}
/* @media screen and (min-width: 899px) {
    .figure__closes {

       margin-right: -55px;
    }
} */