.profile__EditButton{
    max-width: 24px;
    max-height: 24px;
    margin-left: 18px;
    padding-top: 15px;
    opacity: 1;
}
.profile__EditButton:hover {
    transition: link-hover 5s linear forwards;
    opacity: 0.6;
  }
@media screen and (max-width: 899px) {
    .profile__EditButton{
        max-width: 18px;
        max-height: 18px;
        margin: 0;
        padding-top: 8px;
        background-size: 18px 18px;
    }
  }