.popup__errors {
    display: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;  
    color: #FF0000;
}
.popup__errors-visible {
    display: block;
}